body{
    background: black;
}
.instagrampost{
    width: 400px;
    height: 500px;
    background: white;
}
.post-head img{
    width: 50px;
    margin: 10px;
    padding-top: 10px;
}
.post-head{
    display: flex;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: italic;
    text-align: left;
    margin: auto;
    padding-top: 20px;
}
.post-body img {
    width: 400px;
    height: 200px;
}
.post-footer p{
    font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
}
